# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/
dist/
build/
.deepeval/

# Data
data/

# Virtual Environment
venv/
.venv/
env/

# IDEs
.idea/
.vscode/

# MLflow
mlruns/
mlflow.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db